<body id="layout-1" data-luno="theme-blue">
  <!-- start: body area -->
  <div class="wrapper">
    <!-- Sign In version 1 -->
    <!-- start: page body -->
    <div class="page-body auth px-xl-4 px-sm-2 px-0 py-lg-2 py-1">
      <div class="container-fluid mb-5">
        <div class="row g-0">
          <div
            class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center"
          >
            <div style="max-width: 25rem">
              <div class="mb-4">LOGO icon</div>
              <div class="mb-5">
                <h2 class="color-900">Build digital products with:</h2>
              </div>
              <!-- List Checked -->
              <ul class="list-unstyled mb-5">
                <li class="mb-4">
                  <span class="d-block mb-1 fs-4 fw-light"
                    >All-in-one tool</span
                  >
                  <span class="color-600"
                    >Amazing Features to make your life easier &amp; work
                    efficient</span
                  >
                </li>
                <li>
                  <span class="d-block mb-1 fs-4 fw-light"
                    >Easily add &amp; manage your services</span
                  >
                  <span class="color-600"
                    >It brings together your tasks, projects, timelines, files
                    and more</span
                  >
                </li>
              </ul>
              <!-- <div class="mb-2">
                <a href="#" class="me-3 color-600">Home</a>
                <a href="#" class="me-3 color-600">About Us</a>
                <a href="#" class="me-3 color-600">FAQs</a>
              </div> -->

              <div class="row">
                <div class="col col-lg-1 me-3 color-600">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M22.06,11.987a10.061,10.061,0,1,0-11.633,9.939V14.9H7.872V11.987h2.555V9.771a3.551,3.551,0,0,1,3.8-3.915,15.427,15.427,0,0,1,2.252.2V8.529H15.211a1.454,1.454,0,0,0-1.64,1.571v1.887h2.791L15.915,14.9H13.571v7.03A10.064,10.064,0,0,0,22.06,11.987Z"
                    />
                  </svg>
                </div>
                <div class="col col-lg-1 me-3 color-600">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12,2.247A10,10,0,0,0,8.837,21.735c.5.094.684-.215.684-.481,0-.237-.009-.867-.013-1.7-2.781.6-3.368-1.342-3.368-1.342A2.648,2.648,0,0,0,5.027,16.75c-.905-.62.071-.608.071-.608a2.1,2.1,0,0,1,1.531,1.03A2.131,2.131,0,0,0,9.542,18a2.129,2.129,0,0,1,.633-1.337c-2.221-.25-4.555-1.11-4.555-4.942A3.859,3.859,0,0,1,6.649,9.042,3.558,3.558,0,0,1,6.737,6.4s.837-.268,2.75,1.025a9.415,9.415,0,0,1,5,0c1.9-1.293,2.737-1.025,2.737-1.025a3.652,3.652,0,0,1,.1,2.647,3.87,3.87,0,0,1,1.025,2.683c0,3.842-2.337,4.687-4.562,4.933a2.4,2.4,0,0,1,.675,1.85c0,1.339-.013,2.414-.013,2.739,0,.262.175.575.688.475A9.988,9.988,0,0,0,12,2.247"
                    />
                  </svg>
                </div>
                <div class="col col-lg-1 me-3 color-600">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.9,20.9H17.166V15.053c0-1.394-.028-3.188-1.944-3.188-1.945,0-2.242,1.517-2.242,3.085V20.9H9.249V8.877h3.584v1.639h.048a3.932,3.932,0,0,1,3.538-1.942c3.78,0,4.479,2.488,4.479,5.726v6.6ZM5.036,7.232A2.167,2.167,0,1,1,7.2,5.064,2.165,2.165,0,0,1,5.036,7.232ZM6.906,20.9H3.165V8.877H6.906Z"
                    />
                  </svg>
                </div>
                <div class="col col-lg-1 me-3 color-600">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M22.459,5.5a8.763,8.763,0,0,1-2.471.678A4.337,4.337,0,0,0,21.88,3.794,8.907,8.907,0,0,1,19.144,4.83,4.3,4.3,0,0,0,11.7,7.768a4.446,4.446,0,0,0,.111.983A12.194,12.194,0,0,1,2.935,4.266a4.226,4.226,0,0,0-.582,2.166,4.307,4.307,0,0,0,1.914,3.584,4.292,4.292,0,0,1-1.949-.539V9.53A4.306,4.306,0,0,0,5.77,13.753a4.342,4.342,0,0,1-1.935.075,4.318,4.318,0,0,0,4.028,2.989,8.629,8.629,0,0,1-5.339,1.842A9.277,9.277,0,0,1,1.5,18.6a12.254,12.254,0,0,0,6.613,1.932A12.159,12.159,0,0,0,20.361,8.3c0-.183,0-.367-.013-.551A8.69,8.69,0,0,0,22.5,5.516Z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 d-flex justify-content-center align-items-center"
          >
            <div
              class="card shadow-sm w-100 p-4 p-md-5"
              style="max-width: 32rem"
            >
              <!-- Form -->
              <form class="row g-3" [formGroup]="loginForm">
                <div class="col-12 text-center mb-5">
                  <h1>Sign in</h1>
                  <span class="text-muted">Free access to our dashboard.</span>
                </div>

                <div class="col-12">
                  <div class="mb-2">
                    <label class="form-label">Username</label>
                    <input
                      formControlName="username"
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="name@example.com"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-2">
                    <div class="form-label">
                      <span
                        class="d-flex justify-content-between align-items-center"
                      >
                        Password
                        <!-- <a class="text-primary" href="#">Forgot Password?</a> -->
                      </span>
                    </div>
                    <div class="input-group">
                      <input
                        formControlName="password"
                        id="password-input"
                        class="form-control form-control-lg"
                        type="password"
                        placeholder="Enter the password"
                      />
                      <button
                        (click)="togglePasswordVisibility()"
                        class="btn btn-link mt-2 position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                        type="button"
                        id="password-addon"
                      >
                        <i *ngIf="eye"
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            width="20"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
                            />
                          </svg>
                        </i>

                        <i class="ri-eye-fill align-middle" *ngIf="!eye"
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            width="20"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                            />
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                            />
                          </svg>
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <!-- <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      Remember me
                    </label>
                  </div> -->
                </div>
                <div class="col-12 text-center mt-4">
                  <button
                    class="btn btn-primary lift text-uppercase"
                    type="submit"
                    (click)="submit()"
                  >
                    SIGN IN
                  </button>
                </div>
              </form>
              <!-- End Form -->
            </div>
          </div>
        </div>
        <!-- End Row -->
      </div>
    </div>
    <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
    <script>
      $(function () {
        $("#password").password();
      });
    </script>
  </div>
</body>
