#taxes {
  margin-left: 3%;
  border-radius: 50%;
  height: 35px;
}

#btn4 {
  height: 2.5rem;
  width: 2.8rem;
}
#img {
  border-radius: 50%;
}
#table {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}
#cancel{
  margin-left: 2%;
}