<div class="layout-1" data-luno="theme-blue">
  <!-- start: sidebar -->
  <app-sidenav></app-sidenav>
  <div class="wrapper">
    <!-- start: page header -->
    <app-header></app-header>
    <!-- start: page footer -->
    <div class="container" id="container">
      <div
        class="row mt-1 m-0"
        *ngIf="showAddForm === true && showEditForm === false"
      >
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="h5">Add Category</div>
            </div>
            <form [formGroup]="addForm">
              <div class="row mt-2">
                <div class="col col-md-4">
                  <label for="cat" class="form-label">Add Category *</label>
                  <input
                    [ngClass]="{
                      'is-invalid': submitted && addForm.get('category')?.errors
                    }"
                    (keyup)="check($event)"
                    formControlName="category"
                    type="text"
                    id="cat"
                    class="form-control"
                    placeholder="Category"
                  />
                  <div
                    class="text-danger"
                    *ngIf="
                      isCategory === true &&
                      addForm.get('category')?.value !== ''
                    "
                  >
                    {{ "category already exists" }}
                  </div>
                  <div
                    class="text-danger mt-2"
                    *ngIf="submitted && addForm.get('category')?.errors?.['noWhitespaceValidator']"
                  >
                    {{ "First letter should not be empty" }}
                  </div>
                  <div
                    class="text-danger mt-2"
                    *ngIf="submitted && addForm.get('category')?.errors?.['nameValidator']"
                  >
                    {{ "Special Charecters are not Allowed" }}
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col col-md-4"></div>
                <div class="col col-md-4">
                  <button
                    style="margin-left: 20%"
                    (click)="submit()"
                    class="btn lift text-uppercase btn-primary"
                    type="submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div
        class="row mt-1 m-0"
        *ngIf="showAddForm === false && showEditForm === true"
      >
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="h5">Edit Category</div>
            </div>
            <form [formGroup]="editForm">
              <div class="row mt-2">
                <div class="col col-md-4">
                  <label for="cat" class="form-label">Add Category *</label>
                  <input
                    [ngClass]="{
                      'is-invalid':
                        submitted && editForm.get('category')?.errors
                    }"
                    (keyup)="check($event)"
                    formControlName="category"
                    type="text"
                    id="cat"
                    maxlength="70"
                    class="form-control"
                    placeholder="Category"
                  />
                  <div
                    class="text-danger"
                    *ngIf="
                      isCategory === true &&
                      editForm.get('category')?.value !== ''
                    "
                  >
                    {{ "category already exists" }}
                  </div>
                  <div
                    class="text-danger mt-2"
                    *ngIf="submitted && editForm.get('category')?.errors?.['noWhitespaceValidator']"
                  >
                    {{ "First letter should not be empty" }}
                  </div>
                  <div
                    class="text-danger mt-2"
                    *ngIf="submitted && editForm.get('category')?.errors?.['nameValidator']"
                  >
                    {{ "Special Charecters are not Allowed" }}
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col col-md-4"></div>
                <div class="col col-md-4">
                  <button
                    style="margin-left: 20%"
                    (click)="updateCategory()"
                    class="btn lift text-uppercase btn-primary"
                    type="button"
                  >
                    Update
                  </button>
                  <button
                    style="margin-left: 2%"
                    class="btn lift text-uppercase btn-danger"
                    (click)="cancel()"
                    type="button"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row mt-4 m-0">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col col-md-8">
                <div class="h5">Category Data</div>
              </div>
              <div class="col col-md-4">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search"
                  [(ngModel)]="searchText"
                />
              </div>
            </div>

            <div class="row mt-2 text-center">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Category</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let j = index;
                      let i;
                      of: tableData | search : searchText
                    "
                  >
                    <td>{{ j + 1 }}</td>
                    <td>{{ i.category }}</td>
                    <td>
                      <button
                        (click)="getEditData(i)"
                        class="btn btn-secondary lift edit-btn"
                        type="button"
                      >
                        <span class="material-symbols-outlined"> edit </span>
                      </button>
                      <button
                        (click)="getDeleteId(i._id)"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#deletemodal"
                        class="btn btn-danger lift delete-btn"
                      >
                        <span class="material-symbols-outlined"> delete </span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="tableArray.length > tableData.length">
              <div class="col col-md-9"></div>
              <div class="col col-md-3">
                <nav aria-label="Page navigation example" id="pagination">
                  <ul class="pagination">
                    <li class="page-item">
                      <button
                        class="page-link"
                        *ngIf="end > 5"
                        (click)="
                          start = start - 5; end = end - 5; getCategories()
                        "
                      >
                        Previous
                      </button>
                    </li>

                    <li class="page-item">
                      <button
                        class="page-link"
                        *ngIf="tableArray.length > tableData.length"
                        (click)="
                          start = start + 5; end = end + 5; getCategories()
                        "
                      >
                        Next
                      </button>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="deletemodal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Delete Warning
            </h1>
          </div>
          <div class="modal-body">Are you sure want to Delete ?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              (click)="deleteCategory()"
              type="button"
              class="btn btn-danger lift text-uppercase"
              data-bs-dismiss="modal"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
