<div class="layout-1" data-luno="theme-blue">
  <!-- start: sidebar -->
  <app-sidenav></app-sidenav>
  <div class="wrapper">
    <!-- start: page header -->
    <app-header></app-header>
    <!-- start: page footer -->
    <div class="container" id="container">
      <div class="row m-0 mt-3" id="row1">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col col-md-3">
                <img id="img" [src]="envirment.img_url + userData.photo" alt="" />
              </div>
              <div class="col col-md-4">
                <div class="row">
                  <div class="h3" style="margin-top: 20%">
                    <span>{{ userData.user_role }}</span>
                  </div>
                  <div class="h5" style="margin-left: 3%">
                    <span>{{ userData.name }}</span
                    ><span style="margin-left: 10px">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        width="22"
                        (click)="edit()"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col col-md-5">
                <button
                  class="btn lift"
                  id="setting"
                  type="button"
                  (click)="accSettings()"
                >
                  <span class="material-symbols-outlined"> settings </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2 m-0" *ngIf="changeName === true">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="nameForm">
              <div class="row">
                <div class="col col-md-4">
                  <label for="name" class="form-label">Enter Name</label>
                  <input
                    [ngClass]="{
                      'is-invalid': submitted && nameForm.get('name')?.errors
                    }"
                    type="text"
                    class="form-control"
                    max="50"
                    formControlName="name"
                    maxlength="50"
                  />
                  <div
                    class="text-danger mt-2"
                    *ngIf="submitted && nameForm.get('name')?.errors?.['nameValidator']"
                  >
                    {{ "Special Charecters are not allowed" }}
                  </div>
                  <div
                    class="text-danger mt-2"
                    *ngIf="submitted && nameForm.get('name')?.errors?.['noWhitespaceValidator']"
                  >
                    {{ "First letter Should not be Empty" }}
                  </div>
                </div>
                <div class="col col-md-4">
                  <label for="photo" class="form-label">Upload Photo</label>
                  <input
                  (change)="selectFile($event)"
                    type="file"
                    name="myImage"
                    accept="image/png, image/gif, image/jpeg"
                    id="photo"
                    class="form-control"
                    formControlName="photo"
                  />
                </div>
                <div class="col col-md-4">
                  <button
                    (click)="updateName()"
                    style="margin-left: 20%; margin-top: 9%"
                    class="btn btn-primary text-uppercase lift"
                    type="submit"
                  >
                    Submit
                  </button>
                  <button
                    style="margin-left: 2%; margin-top: 9%"
                    class="btn btn-danger text-uppercase lift"
                    type="button"
                    (click)="cancel2()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row mt-2 m-0" *ngIf="showAccForm === true">
        <div class="card">
          <div class="card-body">
            <div class="h5 text-center">Account Settings</div>
            <form [formGroup]="accForm">
              <div class="h6 mt-5">Update Password</div>
              <div class="row mt-3">
                <div class="col col-md-4">
                  <label for="username" class="form-label"
                    >Enter UserName</label
                  >
                  <input
                    [ngClass]="{
                      'is-invalid': submitted && accForm.get('username')?.errors
                    }"
                    type="text"
                    id="username"
                    placeholder="Username"
                    formControlName="username"
                    class="form-control"
                    maxlength="40"
                  />
                </div>
                <div class="col col-md-4">
                  <label for="oldpass" class="form-label"
                    >Enter Old Password</label
                  >
                  <div class="input-group mb-3">
                    <input
                      [ngClass]="{
                        'is-invalid':
                          submitted && accForm.get('oldPassword')?.errors
                      }"
                      formControlName="oldPassword"
                      type="password"
                      id="password-input"
                      class="form-control"
                      placeholder="Password"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />

                    <button
                      style="z-index: 9; margin-right: 4%"
                      class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                      type="button"
                      (click)="togglePasswordVisibility()"
                    >
                      <i *ngIf="eye"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          width="20"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
                          />
                        </svg>
                      </i>

                      <i class="ri-eye-fill align-middle" *ngIf="!eye"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          width="20"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                          />
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                          />
                        </svg>
                      </i>
                    </button>
                  </div>
                </div>
                <div class="col col-md-4">
                  <label for="newpass" class="form-label"
                    >Enter New Password</label
                  >
                  <div class="input-group mb-3">
                    <input
                      [ngClass]="{
                        'is-invalid':
                          submitted && accForm.get('newpassword')?.errors
                      }"
                      formControlName="newpassword"
                      type="password"
                      id="password-input2"
                      class="form-control"
                      placeholder="Password"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />

                    <button
                      style="z-index: 9; margin-right: 4%"
                      class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                      type="button"
                      (click)="togglePasswordVisibility2()"
                    >
                      <i *ngIf="eye1"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          width="20"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
                          />
                        </svg>
                      </i>

                      <i class="ri-eye-fill align-middle" *ngIf="!eye1"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          width="20"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                          />
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                          />
                        </svg>
                      </i>
                    </button>
                  </div>
                  <div
                    class="text-danger mt-2"
                    *ngIf="submitted && accForm.get('newpassword')?.errors"
                  >
                    {{ "min length of password 6 Charecters" }}
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col col-md-4"></div>
                <div class="col col-md-4">
                  <button
                    (click)="submit()"
                    style="margin-left: 20%"
                    class="btn btn-primary text-uppercase lift"
                    type="submit"
                  >
                    Submit
                  </button>
                  <button
                    style="margin-left: 2%"
                    class="btn btn-danger text-uppercase lift"
                    type="button"
                    (click)="cancel()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
